.logo {
	margin-top: 70px;
}

.logo img {
	width: 200px;
}

.login-form {
	margin-bottom: 100px;
}

.login-form h3 {
	font-weight: 600;
	font-size: 36px;
	margin-top: 30px;
	margin-bottom: 60px;
}

#footer {
	padding: 0 0 30px;
}

.login-form .password input {
	border: none;
}

.login-form .password .input-group .input-group-append .input-group-text {
	background: none !important;
	border: none;
	color: #c0c4cd;
	cursor: pointer;
}

.login-form .custom {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 20px;
	font-size: 14px;
}

.login-form .custom::placeholder {
	font-weight: 300;
	font-size: 14px;
	color: #c0c4cd;
}

.login-form .custom:focus {
	box-shadow: none;
}

/* 
label {
	font-weight: 500;
	font-size: 16px;
}

.custom {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 20px;
}

.custom::placeholder {
	font-weight: 300;
	font-size: 14px;
	color: #c0c4cd;
}

.custom:focus {
	box-shadow: none;
}

.input-pass {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 3px !important;
	width: 100%;
}

.input-pass input {
	width: 90%;
	padding: 5px 20px;
}

.input-pass input::placeholder {
	font-weight: 300;
	font-size: 14px;
	color: #c0c4cd;
}

.input-pass input:focus {
	outline: none;
}

.password input {
	border: none;
}

.password .input-group .input-group-append .input-group-text {
	background: none !important;
	border: none;
	color: #c0c4cd;
	cursor: pointer;
} */

.btn-daftar {
	background: linear-gradient(172.04deg, #1891f6 10.75%, #1a38e3 139.85%);
	border-radius: 6px;
	color: #ffff;
	font-weight: 500;
	font-size: 12px;
	padding: 10px 40px;
	margin: 40px 0px;
}

/* .btn-daftar:hover {
	background: linear-gradient(180deg, #fdf025 0%, #ffc90a 100%);
}

.btn-daftar:focus {
	box-shadow: none;
} */

h4 {
	font-weight: 400;
	font-size: 14px;
}

h4 span a {
	font-weight: 600;
	text-decoration: underline;
	color: #312d75;
}
/* 
.border {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 6px;
}

.border img {
	padding: 0px 10px;
}

.pb-8px {
	padding-bottom: 8px;
} */

/* .alternative {
	margin: 30px 0px;
	font-weight: 400;
	font-size: 14px;
} */

.btn-alter {
	margin-left: 25px;
}

.line {
	border: 1px solid #c0c4cd;
	margin-top: 15px;
	margin-bottom: 30px !important;
}

.text-alert {
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.text-alert span a {
	text-decoration: underline;
	color: #312d75;
	font-weight: 400;
}

.img-hero img {
	width: 90%;
	float: right;
	margin-top: -50px;
}

.login-form .password .input-pass input {
	padding: 5px 20px;
}

@media (max-width: 576px) {
	.logo {
		margin-top: 40px;
	}

	.logo img {
		width: 150px;
	}

	.login-form h3 {
		margin-top: 20px;
		font-size: 24px;
		margin-bottom: 30px;
	}

	.login-form .text {
		font-size: 12px;
	}

	.login-form .text-alert {
		font-size: 12px;
		margin-top: 15px;
	}

	.login-form .img-hero {
		display: flex;
		justify-content: center;
		margin-top: 80px;
		margin-bottom: 50px;
	}

	.login-form .border img {
		/* width: 55px; */
		padding: 2px 5px 0px 5px;
	}

	.btn-alter {
		margin-left: 0px;
	}

	.login-form .password .input-pass input {
		width: 84%;
	}
}
