.banner {
	margin-top: 30px;
	margin-bottom: 50px;
}

.banner img {
	height: auto;
	width: 100%;
}

.pilihan-kemasan button {
	font-weight: bold;
	font-size: 16px;
	margin-right: 15px;
}

.pilihan-kemasan .active {
	background: linear-gradient(180deg, #fdf025 0%, #ffc90a 100%) !important;
}

.btn-pilih {
	padding: 12px 25px;
	background: #eaf5ff;
}

.btn-kemasan {
	padding: 12px 25px;
	border: 1px solid #ffc90a;
}

.kemasan-fill {
	background: linear-gradient(180deg, #fdf025 0%, #ffc90a 100%) !important;
}

.btn-kemasan:hover {
	background: linear-gradient(180deg, #fdf025 0%, #ffc90a 100%) !important;
}

.produk {
	margin-top: 100px;
}

.produk .foto-produk {
	height: 110%;
	width: 80%;
	margin-right: 10px !important;
	border: 1px solid #ffc90a;
	border-radius: 30px;
	padding: 50px 0px;
}

.produk .info-produk h1 {
	font-size: 36px;
	font-weight: 600;
}

.produk .info-produk .produk-desc {
	font-weight: 300;
	font-size: 16px;
	width: 66%;
	margin-top: 10px;
	line-height: 30px;
}

.custom-form-control {
	display: block;
	width: 100%;
	/* height: calc(1.5em + .75rem + 2px); */
	padding: 0.675rem 0.75rem;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	/* color: #c0c4cd; */
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-decoration: none;
	outline: none;
}

.custom-form-control::placeholder {
	color: #c0c4cd;
}

.select-form {
	display: inline-block;
	width: 100%;
	/* height: calc(1.5em + 0.75rem + 2px); */
	padding: 0.675rem 0.75rem;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #c0c4cd;
	background: #fff url(../images/down-chevron.svg) no-repeat right 1rem
		center/20px 16px;
	vertical-align: middle;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-decoration: none;
	outline: none;
}

.input-group {
	border: 1px solid #c0c4cd;
	display: flex;
	align-items: center;
	border-radius: 6px;
	padding: 0px 20px;
	width: 40%;
}

.input-group input {
	border: none;
	color: #2b3a91;
	font-weight: 600;
}

.input-group input::placeholder {
	color: #c0c4cd;
}

.input-group input:active {
	text-decoration: none;
	outline: none;
}

.input-group-text {
	background: none;
	border: none;
	font-size: 25px;
	color: #c0c4cd;
	cursor: pointer;
	padding: 0;
}

.kebutuhan {
	margin-top: 100px;
}

.kebutuhan .title {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.kebutuhan .title::before {
	position: absolute;
	content: '';
	background-color: #ff2728;
	width: 25px;
	height: 3px;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: auto;
}

.kebutuhan .form-kemasan {
	margin-top: 80px;
}

.kebutuhan .produk-title {
	font-weight: 600;
	font-size: 36px;
}

.kebutuhan form {
	margin-top: 20px;
	width: 66%;
	margin-bottom: 100px;
}

.kebutuhan form label {
	font-weight: 600;
	font-size: 18px;
}
.kebutuhan form .upload {
	margin-top: 40px;
}

.kebutuhan form .upload .upload-design,
.kebutuhan form .upload .share-link {
	cursor: pointer;
}

.kebutuhan form .upload .upload-design p {
	margin: 0px 10px;
	font-weight: 600;
	font-size: 13px;
}

.kebutuhan form .upload .share-link p {
	margin: 0px 10px;
	font-weight: 600;
	font-size: 13px;
}

.kebutuhan form .nav-upload {
	position: relative;
}

.choosen {
	width: 50%;
	position: absolute;
	height: 4px;
	bottom: 1px;
	background: linear-gradient(255.05deg, #ed1c24 25.62%, #2b3a91 67.77%);
	border-radius: 10px 10px 0px 0px;
}

.divider {
	border-bottom: 1px solid #c0c4cd;
	margin-top: 10px;
}
.divider-1 {
	border-bottom: 1px solid #c0c4cd;
	width: 100%;
	margin-top: 5px;
}

.kebutuhan form .upload-file {
	margin-top: 20px;
}

.kebutuhan form .upload-file p {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 14px;
}
/* 
.kebutuhan form .upload-file input {
	background-color: red;
	border: none;
} */

.kebutuhan form .upload-file input {
	margin-top: 10px;
	margin-bottom: 40px;
}

.kebutuhan form .upload-file input:focus {
	text-decoration: none;
	outline: none;
}

.kebutuhan form .upload-file input::-webkit-file-upload-button {
	visibility: hidden;
	margin-left: -80px;
}
.kebutuhan form .upload-file input::before {
	content: 'Choose File';
	display: inline-block;
	background: linear-gradient(172.04deg, #1891f6 10.75%, #1a38e3 139.85%);
	border-radius: 6px;
	padding: 10px 30px;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	color: white;
	font-weight: 400;
	font-size: 10pt;
}

.kebutuhan form .upload-price h5 {
	font-weight: 600;
	font-size: 16px;
}

.kebutuhan form .upload-price .prefix {
	color: #c0c4cd;
}

.kebutuhan form .upload-price .unit-input {
	border: none;
	margin-left: 10px;
}

.kebutuhan form .upload-price .unit-input::placeholder {
	color: #c0c4cd;
}

.kebutuhan form .upload-price .unit-input:focus {
	text-decoration: none;
	outline: none;
}

.kebutuhan form .upload-price .upload-info {
	color: #2e3a59;
	font-size: 10px;
	font-weight: 600;
	margin-top: 10px;
	padding-left: 15px;
}

.kebutuhan .nav-btn {
	margin-top: 30px;
}

.kebutuhan form a {
	text-decoration: none;
	margin-right: 20px;
}

.kebutuhan form a button,
.kebutuhan form button {
	font-size: 14px;
	padding: 10px 30px !important;
	font-weight: 600;
}
